.description__navigation {
  margin-top: 1.125rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 980px) {
    margin-top: 2rem;
  }

  @media (max-width: 500px) {
    gap: 1.5rem;
    justify-content: center;
  }

  li {
    font-weight: 600;

    @media (max-width: 400px) {
      font-size: 0.9rem;
    }
  }
}

.description__border {
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
  border: 0.5px solid $btnBorder;
}

.description {
  margin-bottom: 3.75rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (max-width: 1150px) {
      order: 2;
    }
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 2rem;

    @media (max-width: 700px) {
      font-size: 1.5rem;
      line-height: 1.35;
    }
  }

  &__text {
    max-width: 488px;
    &--last {
      margin: 1.5rem 0;
    }

    @media (max-width: 1150px) {
      max-width: 70%;
    }
    @media (max-width: 800px) {
      max-width: 80%;
    }
    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  &__image {
    width: 100%;

    @media (max-width: 1150px) {
      order: 1;
    }

    img {
      width: 100%;
    }
  }
}
