.description__navigation {
  margin-top: 1.125rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  @include brakepoint(980px) {
    margin-top: 2rem;
  }
  @include brakepoint(500px) {
    gap: 1.5rem;
    justify-content: center;
  }
  @include brakepoint(400px) {
    gap: 1rem;
  }
  @include brakepoint(300px) {
    gap: 0.5rem;
  }

  li {
    font-weight: 600;
    @include brakepoint(400px) {
      font-size: 0.8rem;
    }
    @include brakepoint(320px) {
      font-size: 0.6rem;
    }
  }
}

.description__border {
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;
  border: 0.5px solid $btnBorder;
}

.description {
  margin-bottom: 3.75rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include brakepoint(1150px) {
    grid-template-columns: 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    @include brakepoint(1150px) {
      order: 2;
    }
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    @include brakepoint(700px) {
      font-size: 1.5rem;
      line-height: 1.35;
    }
  }

  &__text {
    max-width: 488px;
    @include brakepoint(1150px) {
      max-width: 70%;
    }
    @include brakepoint(800px) {
      max-width: 80%;
    }
    @include brakepoint(600px) {
      max-width: 100%;
    }

    &--last {
      margin: 1.5rem 0;
    }
  }

  &__image {
    width: 100%;
    @include brakepoint(1150px) {
      order: 1;
    }

    img {
      width: 100%;
    }
  }

  &__btn {
    @include defaultTransition(border-color);

    &:hover {
      @include defaultHover(border-color, $primary);
    }
  }
}
