*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: $dark;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

select,
input,
label,
textarea {
  font-family: 'Inter', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.625rem 0;
  width: 8.75rem;
  border: 1px solid $btnBorder;
  border-radius: 4px;
  background-color: $white;
  cursor: pointer;
}

.btn__primary {
  background-color: $secondary;
  color: $white;
}

.btn__primary--light {
  color: $secondary;
}

.btn__secondary--light {
  color: $primary;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 7rem;
  @include brakepoint(1240px) {
    padding: 0 4rem;
  }
  @include brakepoint(900px) {
    padding: 0 2.5rem;
  }
  @include brakepoint(800px) {
    padding: 0 1.5rem;
  }
  @include brakepoint(400px) {
    padding: 0 1rem;
  }
}

.no-scroll {
  overflow: hidden;
}
