.product {
  margin-top: 1.625rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @include breakpoint(20em) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 1.2;
    @include breakpoint(43.75em) {
      font-size: 1.75rem;
      line-height: 1.3;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    @include breakpoint(37.5em) {
      align-self: flex-end;
    }

    i,
    img {
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 2.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    @include breakpoint(61.25em) {
      flex-direction: column;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    position: relative;

    img {
      width: 100%;
    }

    .iconWrapper {
      width: 3.5rem;
      height: 3.5rem;
      background-color: $lightGray;
      border: none;
      border-radius: $fullBorderRadius;
      display: grid;
      place-content: center;
      font-size: 1.5rem;
      color: $dark;
      cursor: pointer;
      position: absolute;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
      @include breakpoint(37.5em) {
        width: 3rem;
        height: 3rem;
        font-size: 1.25rem;
      }

      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      }

      &:active {
        transform: scale(1);
        box-shadow: none;
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }

  &__details {
    max-width: 30.5rem;
    align-self: stretch;
    padding: 0 2rem;
    padding-top: 1.5rem;
    padding-bottom: 4.125rem;
    background-color: $lightGray;
    @include breakpoint(81.25em) {
      max-width: 25.5rem;
    }
    @include breakpoint(61.25em) {
      align-self: center;
      max-width: 32.5rem;
    }
    @include breakpoint(37.5em) {
      padding: 2rem 1.5rem;
    }
    @include breakpoint(18.75em) {
      width: 100%;
    }
  }

  &__stock {
    margin-bottom: 0.825rem;
    font-family: $fontFamilyPrimary;
    span {
      color: $primary;
    }
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    @include breakpoint(37.5em) {
      font-size: 0.875rem;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 1.33rem;
    margin-bottom: 1.6rem;
  }

  &__dropdownGroup {
    display: flex;
    gap: 1.375rem;
    @include breakpoint(43.75em) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__dropdown {
    background-color: $white;
    width: 12.5rem;
    height: 3.5rem;
    padding: 0 1rem;
    border-radius: $topBorderRadius;
    display: flex;
    flex-direction: column;
    position: relative;
    @include breakpoint(43.75em) {
      width: 100%;
    }

    label {
      font-size: 0.6875rem;
      color: $darkGray;
      margin: 4px 0;
    }

    select {
      background: transparent;
      border: 0;
      padding-top: 0.8rem;
      font-size: 0.875rem;
      position: absolute;
      left: 1rem;
      right: 0.75rem;
      bottom: 0;
      top: 0;
      appearance: none;
      z-index: 10;
      cursor: pointer;
    }

    .arrow {
      position: absolute;
      right: 0.75rem;
      bottom: 1rem;
      font-size: 0.9375rem;
    }
  }

  &__checkGroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__checkbox {
    label {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.7;
      cursor: pointer;
      position: relative;
      @include breakpoint(37.5em) {
        gap: 0.75rem;
      }
    }

    .input {
      opacity: 0;
      width: 1.0625rem;
      height: 1.0625rem;

      &:checked ~ .square--check {
        opacity: 1;
      }

      &:focus-visible {
        opacity: 1;
      }
    }

    .square,
    .square--check {
      font-size: 1.25rem;
      position: absolute;
    }

    .square {
      color: $checkBorder;
      opacity: 1;
    }

    .square--check {
      color: $secondary;
      opacity: 0;
    }
  }

  &__btnGroup {
    display: flex;
    gap: 0.5rem;
    @include breakpoint(25em) {
      justify-content: space-between;
    }
    @include breakpoint(18.75em) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__btn {
    @include breakpoint(18.75em) {
      width: 100%;
    }
  }

  .btn__primary {
    @include defaultTransition(opacity);

    &:hover {
      @include defaultHover(opacity, 0.7);
    }
  }

  .btn__primary--light {
    @include defaultTransition(border-color);

    &:hover {
      @include defaultHover(border-color, $secondary);
    }
  }
}
