.specs {
  background-color: $lightGray;
  padding-top: 40px;
  padding-bottom: 60px;

  &__title {
    font-size: 1.75rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    @include breakpoint(43.75em) {
      font-size: 1.5rem;
      line-height: 1.35;
    }
  }

  &__tableWrapper {
    overflow-x: auto;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.7;

    th,
    td {
      text-align: left;
      padding: 9px 20px;
      white-space: nowrap;
    }

    .table__head {
      th {
        color: $primary;
        font-weight: 600;
      }
    }

    .table__body {
      tr {
        &:nth-child(odd) {
          background-color: $white;
        }
      }
    }
  }
}
