// Colors
$orange: #fe5e41;
$green: #00a878;
$lightGray: #f2f2f2;
$darkGray: #6e6e6e;
$background: #e5e5e5;
$btnBorder: #dedede;
$checkBorder: #bdbdbd;
$dark: #1e1e1e;
$black: #000000;
$white: #ffffff;
