// Colors
$primary: #fe5e41;
$secondary: #00a878;
$background: #e5e5e5;
$btnBorder: #dedede;
$checkBorder: #bdbdbd;
$lightGray: #f2f2f2;
$darkGray: #6e6e6e;
$dark: #1e1e1e;
$black: #000000;
$white: #ffffff;

// Fonts
$fontFamilyPrimary: 'Inter', sans-serif;
$fontFamilySecondary: 'Poppins', sans-serif;

// Border Radius
$fullBorderRadius: 100%;
$smallBorderRadius: 4px;
$topBorderRadius: 4px 4px 0 0;
